<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149185348244-oglto43e2fuqr7pfitbgo9q9bj5objq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149185348244-oglto43e2fuqr7pfitbgo9q9bj5objq2</string>
	<key>API_KEY</key>
	<string>AIzaSyCNCS7Wb2prhym_iC-T3hLXIdl_jb3nkCg</string>
	<key>GCM_SENDER_ID</key>
	<string>149185348244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeekands.banjarnegaranews.banjarnegaranews</string>
	<key>PROJECT_ID</key>
	<string>berita-49371</string>
	<key>STORAGE_BUCKET</key>
	<string>berita-49371.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149185348244:ios:f3d58e64722c3b35876a81</string>
</dict>
</plist>